*{
margin:0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family:sans-serif;

}

body{

    background-image:url(../imagenes/abstract-aesthetic-backgrounds-landscapes-earth-260nw-1815707273.jpeg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;

}
main{
width:100%;
padding: 20px;
margin:auto;
margin-top: 100px;


}
.caja__todo{
    width: 100%;
    max-width: 800px;
    margin:auto;
    position:relative;

}
.caja__todo div h3{
    font-weight: 600;
    font-size: 26px;
}
.caja__todo button{
    padding: 20 px 50 px;
    border: 4px solid purple;
    color: black;
    
}